@page "/"

<PageTitle>Home</PageTitle>

<div>
    <button @onclick='() => LoadMarkers("hospitals")'>Hospitals</button>
    <button @onclick='() => LoadMarkers("police")'>Police Stations</button>
    <button @onclick='() => LoadMarkers("parks")'>Parks</button>
    <button @onclick='() => LoadMarkers("gas")'>Gas Stations</button>
    <button @onclick='() => ClearMarkers()'>Clear</button>
</div>

<div id="map" style="height: 1000px; margin-top:20px"></div>

@code {
    [Inject] private IJSRuntime JSRuntime { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeMap");
        }
    }

    private async Task LoadMarkers(string category)
    {
        await JSRuntime.InvokeVoidAsync("loadMarkers", category);
    } 
    
    private async Task ClearMarkers() 
    {
        await JSRuntime.InvokeVoidAsync("clearMarkers"); 
    }
}